@import 'variables';

.#{$glide-class} {
  $this: &;

  $se: $glide-element-separator;
  $sm: $glide-modifier-separator;

  &#{$se}arrow {
    position: absolute;
    display: block;
    top: 35%;
    z-index: 2;
    color: floralwhite;
    text-transform: uppercase;
    padding: 12px 15px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 240, 0.5);
    border-radius: 4px;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    line-height: 1;

    &:focus { 
      color: floralwhite;

    }
    &:hover { 
      outline: none;
      border-color: white; 
    }

    &#{$sm}left {
      left: 6rem;
    }

    &#{$sm}right {
      right: 6rem;
    }

    &#{$sm}disabled {
      opacity: 0.33;
    }
  }

  &#{$se}bullets {
    position: absolute;
    z-index: 2;
    bottom: 8rem;
    left: 50%;
    display: inline-flex;
    cursor: pointer;
    list-style: none;
    transform: translateX(-50%);
  }

  &#{$se}bullet {
    background-color: rgba(255, 250, 240, 0.5);
    width: 15px;
    height: 15px;
    padding: 0;
    padding-left: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    line-height: 0;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    margin: 0 0.75em;

    &:focus {
      outline: none;
      background-color: floralwhite;
    }

    &:hover {
      outline: none;
      border: 2px solid floralwhite;
      background-color: rgba(255, 255, 240, 0.5);
    }

    &#{$sm}active {
      background-color: floralwhite;
    }
  }

  &#{$sm}swipeable {
    cursor: default !important;
    
  }

  &#{$sm}dragging {
    cursor: default !important;
  }
}
