@import "variables";

.#{$glide-class} {
  $this: &;

  $se: $glide-element-separator;
  $sm: $glide-modifier-separator;

  position: relative;
  width: 100%;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }

  &#{$se}track {
    overflow: hidden;
  }

  &#{$se}slides {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    transform-style: preserve-3d;
    list-style: none;
    backface-visibility: hidden;
    white-space: nowrap;
    will-change: transform;

    &#{$se}dragging {
      user-select: none;
    }
  }

  &#{$se}slide {
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
  }

  &#{$se}arrows {
    -webkit-touch-callout: none;
    user-select: none;  
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &#{$se}bullets {
    -webkit-touch-callout: none;
    user-select: none;
  }

  &#{$sm}rtl {
    direction: rtl;
  }
}
