/* MediaQuery CSS Italia Storica */
/*=============================================
=            HEADER MEDIA QUERY         =
=============================================*/
@media (min-width: 830px) and (max-width: 992px) {
  header .navbar .icons > span:nth-child(2), header .navbar .icons i.icon.fas.fa-map-marker-alt {
    display: none;
  }
  header .navbar .social span {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  header .navbar {
    font-size: 1rem !important;
  }
  header .navbar .icons > span:nth-child(2), header .navbar .icons i.icon.fas.fa-map-marker-alt {
    display: none;
  }
  header .navbar .social span {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  header .navbar {
    font-size: 0.8rem !important;
  }
}
@media (min-width: 1301px) and (max-width: 1379px) {
  .navbar {
    font-size: 0.9rem !important;
  }
}
@media (min-width: 1380px) {
  header .navbar {
    font-size: 1rem !important;
  }
}
@media (max-width: 550px) {
  header .navbar .icons > span:nth-child(5) > a:nth-child(1) {
    display: none;
  }
}
@media (max-width: 659px) {
  header .navbar {
    font-size: 0.7rem !important;
  }
  header .navbar .icons > span:nth-child(2), header .navbar .icons i.icon.fas.fa-map-marker-alt {
    display: none;
  }
  header .navbar .social span {
    display: none;
  }
}
@media (min-width: 660px) and (max-width: 829px) {
  header .navbar {
    font-size: 0.7rem !important;
  }
  header .navbar .icons > span:nth-child(2), header .navbar .icons i.icon.fas.fa-map-marker-alt {
    display: none;
  }
  header .navbar .social span {
    display: none;
  }
}
@media (max-width: 623px) {
  header .navbar .icons {
    font-size: 0.8rem;
  }
  header .my_jumbotron div:nth-child(1) {
    height: inherit;
    width: 100%;
  }
  header .my_jumbotron .main_title h1 {
    top: 27% !important;
  }
  header .my_jumbotron .steel_bar p {
    position: sticky;
    top: 29% !important;
  }
}
@media (max-width: 1700px) {
  header .steel_bar p {
    font-size: 1.2rem !important;
    text-align: center !important;
  }
}
@media (min-width: 1550px) and (max-width: 1700px) {
  header .steel_bar p {
    font-size: 1.3rem !important;
  }
}
@media (min-width: 1700px) and (max-width: 1800px) {
  header .steel_bar p {
    font-size: 1.4rem !important;
  }
}
/*=====  End of Section comment block  ======*/
/*=============================================
=            MAIN ROW CORE MEDIAQUERY        =
=============================================*/
@media (max-width: 1550px) {
  main .core .glide img {
    min-height: 550px !important;
  }
}
@media (max-width: 1300px) {
  main .core .glide img {
    min-height: 500px !important;
  }
}
@media (min-width: 450px) and (max-width: 1200px) {
  .book_details {
    padding-left: 0 !important;
  }
}
