/* MediaQuery CSS Italia Storica */ /*=============================================
=            HEADER MEDIA QUERY         =
=============================================*/
@media (max-width: 599px) {
  header .navbar {
    font-size: 0.7rem !important;
  }
  header .navbar .icons > span:nth-child(2), header .navbar .icons i.icon.fas.fa-map-marker-alt {
    display: none;
  }
  header .navbar .social span {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  header .navbar {
    font-size: 1rem !important;
  }
  header .navbar .icons > span:nth-child(2), header .navbar .icons i.icon.fas.fa-map-marker-alt {
    display: none;
  }
  header .navbar .social span {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  header .navbar {
    font-size: 0.8rem !important;
  }
}
@media (min-width: 1301px) and (max-width: 1379px) {
  .navbar {
    font-size: 0.9rem !important;
  }
}
@media (max-width: 415px) {
  header .navbar .icons > span:nth-child(8) {
    display: none;
  }
}
@media (max-width: 550px) {
  header .navbar .icons > span:nth-child(5) > a:nth-child(1) {
    display: none;
  }
}
@media (max-width: 659px) {
  header .navbar .icons > span:nth-child(2), header .navbar .icons i.icon.fas.fa-map-marker-alt {
    display: none;
  }
  header .navbar .social span {
    display: none;
  }
}
@media (max-width: 999px) {
  header .my_jumbotron div:nth-child(1) {
    height: inherit;
    width: 100%;
  }
  header .my_jumbotron .main_title img {
    height: 350px !important;
    width: 100% !important;
    overflow: hidden;
  }
  header .my_jumbotron .main_title .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.3;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.3;
    }
  }
  header .my_jumbotron .main_title h1.special_title {
    font-size: 7rem;
    text-align: center;
    line-height: 1.2;
    position: absolute;
    top: 27% !important;
    margin: 0;
    padding: 0;
  }
  header .my_jumbotron .main_title h1.special_title_second {
    font-size: 7rem;
    text-align: center;
    line-height: 1.2;
    position: absolute;
    top: 65% !important;
    margin: 0;
    padding: 0;
  }
  header .my_jumbotron .steel_bar p {
    position: -webkit-sticky;
    position: sticky;
    top: 29% !important;
  }
}
@media (min-width: 1000px) {
  header .my_jumbotron div:nth-child(1) {
    height: inherit;
    width: 100%;
  }
  header .my_jumbotron .main_title img {
    height: 350px !important;
    width: 100% !important;
    overflow: hidden;
  }
  header .my_jumbotron .main_title .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.3;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.3;
    }
  }
  header .my_jumbotron .main_title h1 {
    top: 65% !important;
  }
  header .my_jumbotron .steel_bar p {
    position: -webkit-sticky;
    position: sticky;
    top: 29% !important;
  }
}
@media (max-width: 1699px) {
  header .steel_bar p {
    font-size: 1.2rem !important;
    text-align: center !important;
  }
}
@media (min-width: 1700px) and (max-width: 1800px) {
  header .steel_bar p {
    font-size: 1.4rem !important;
  }
}
@media (min-width: 1550px) and (max-width: 1700px) {
  header .steel_bar p {
    font-size: 1.3rem !important;
  }
}
/*=====  End of Section comment block  ======*/
/*=============================================
=            MAIN ROW CORE MEDIAQUERY        =
=============================================*/
@media (max-width: 375px) {
  main .core {
    margin: 150px 0 0 0 !important;
  }
}
@media (min-width: 376px) and (max-width: 474px) {
  main .core {
    margin: 120px 0 0 0 !important;
  }
}
@media (max-width: 599px) {
  main .core .sliderContainer {
    height: 317px;
  }
  main .core .slider {
    height: 317px;
    display: grid;
    justify-content: center;
  }
  main .core .slider img {
    max-height: 317px !important;
  }
  main .book_details {
    padding-left: 0px !important;
  }
}
@media (min-width: 600px) {
  main .core .slider {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 100%;
    grid-gap: 5%;
    justify-content: center;
  }
  main .core .slider img {
    max-height: 560px !important;
  }
  main .core .book_details {
    padding-left: 0px !important;
  }
}
@media (max-width: 1199px) {
  main .core .book_details {
    padding-left: 0px !important;
    padding-top: 75px !important;
  }
  main .core #buy {
    font-size: 1rem !important;
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  main .core #book_details {
    max-height: 625.5px !important;
  }
  main .core .book_details {
    padding-top: 0px !important;
    padding-left: 50px !important;
  }
  main .core #buy {
    margin: 50px 0 0 0 !important;
  }
}
@media (min-width: 1200px) and (max-width: 1285px) {
  main .core {
    margin-bottom: 12rem !important;
  }
}
@media (min-width: 1286px) and (max-width: 1335px) {
  main .core {
    margin-bottom: 9rem !important;
  }
}
@media (min-width: 1336px) {
  main .core {
    margin-bottom: 6rem !important;
  }
}
@media (max-width: 799px) {
  main .core .carousel_button {
    display: none !important;
  }
}
@media (min-width: 1200px) and (max-width: 1699px) {
  main .core .carousel_button {
    display: none !important;
  }
}
/*=============================================
=            MAIN ROW ORDER MEDIAQUERY        =
=============================================*/
@media (min-width: 1023px) {
  .col-xl-4 {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .card {
    height: 510px !important;
  }
}
@media (min-width: 992px) and (max-width: 1022px) {
  .col-xl-4 {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .card {
    height: 540px !important;
  }
}
@media (min-width: 992px) and (max-width: 1183px) {
  div.col-xl-4:nth-child(3) p {
    padding-top: 5px !important;
  }
}
@media (min-width: 992px) and (max-width: 1059px) {
  div.col-xl-4:nth-child(1) p {
    padding-top: 5px !important;
  }
}
@media (max-width: 991px) {
  .card-container > .col-xl-4:not(:first-child) {
    margin-top: 60px !important;
  }
  .card-container .col-xl-4 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .card {
    width: 360px !important;
  }
}
@media (min-width: 400px) and (max-width: 991px) {
  main .order .card-container .card {
    word-wrap: normal !important;
  }
}
@media (max-width: 379px) {
  main .order .card-container .card {
    max-height: 580px !important;
  }
  main .order .card-container .card .card-title {
    font-size: 1.29rem !important;
  }
}
/*================================================
=            MAIN ROW PERSONAL MEDIAQUERY        =
=================================================*/
@media (max-width: 999px) {
  main .personal #bio img {
    display: none;
  }
  main .personal #middle {
    padding: 0 50px 0 50px !important;
  }
  main .personal #operas img {
    display: none;
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  main .personal #bio img {
    display: block;
    width: 20vw !important;
  }
  main .personal #operas img {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 2079px) {
  main .personal #bio img {
    display: block;
    width: 20vw !important;
  }
  main .personal #operas img {
    display: block;
  }
}
@media (min-width: 2080px) and (max-width: 2219px) {
  main .personal #bio img {
    display: block;
    width: 18vw !important;
  }
  main .personal #operas img {
    display: block;
    width: 18vw !important;
  }
}
@media (min-width: 2220px) and (max-width: 2299px) {
  main .personal #bio img {
    display: block;
    width: 16vw !important;
  }
  main .personal #operas img {
    display: block;
    width: 16vw !important;
  }
}
@media (min-width: 2300px) and (max-width: 2599px) {
  main .personal #bio img {
    display: block;
    max-width: 14vw !important;
  }
  main .personal #operas img {
    display: block;
    max-width: 14vw !important;
  }
}
@media (min-width: 2600px) and (max-width: 2949px) {
  main .personal #bio img {
    display: block;
    max-width: 12vw !important;
  }
  main .personal #operas img {
    display: block;
    max-width: 12vw !important;
  }
}
@media (min-width: 2950px) {
  main .personal #bio img {
    display: block;
    max-width: 10vw !important;
  }
  main .personal #operas img {
    display: block;
    max-width: 10vw !important;
  }
}
@media (min-width: 1551px) {
  main .personal .supporters img {
    width: 150px !important;
  }
  main .personal .supporters .terloghi > img:nth-child(4) {
    position: relative;
    bottom: 1.5rem !important;
  }
}
@media (min-width: 1150px) and (max-width: 1550px) {
  main .personal .supporters img {
    width: 150px !important;
  }
  main .personal .supporters .terloghi > img:nth-child(3) {
    position: relative;
    bottom: 1.5rem !important;
  }
}
@media (min-width: 992px) and (max-width: 1149px) {
  main .personal .supporters img {
    width: 135px !important;
  }
  main .personal .supporters .terloghi > img:nth-child(3) {
    position: relative;
    bottom: 1rem !important;
  }
}
@media (min-width: 750px) and (max-width: 991px) {
  main .personal .supporters img {
    width: 150px !important;
  }
  main .personal .supporters .terloghi > img:nth-child(2) {
    position: relative;
    bottom: 1rem !important;
  }
}
@media (min-width: 650px) and (max-width: 749px) {
  main .personal .supporters img {
    width: 135px !important;
  }
  main .personal .supporters .terloghi > img:nth-child(2) {
    position: relative;
    bottom: 1rem !important;
  }
}
@media (max-width: 649px) {
  main .personal .supporters img {
    width: 150px !important;
  }
  main .personal .supporters .terloghi > img:nth-child(2) {
    position: relative;
    bottom: 1rem !important;
  }
}
/*=============================================
=            MAIN ROW FORM MEDIAQUERY        =
=============================================*/
@media (min-width: 750px) and (max-width: 1650px) {
  main .form .help {
    padding-bottom: 60px !important;
  }
  main .form .contatti_container {
    flex-direction: column;
    justify-content: center;
  }
  main .form .contatti_container #form-container form {
    margin-left: 0 !important;
    margin-bottom: 100px;
  }
  main .form .contatti_container #form-container i {
    margin: 0 !important;
  }
  main .form .contatti_container #map-container {
    margin: 0 !important;
  }
}
@media (max-width: 749px) {
  main .form .help {
    padding-bottom: 60px !important;
  }
  main .form .contatti_container {
    flex-direction: column;
    justify-content: center;
  }
  main .form .contatti_container #form-container form {
    margin-left: 0 !important;
    margin-bottom: 100px;
    width: 75% !important;
  }
  main .form .contatti_container #form-container i {
    margin: 0 !important;
  }
  main .form .contatti_container #map-container {
    margin: 0 !important;
  }
}
@media (max-width: 649px) {
  main .form #map-container .icons-container {
    margin-top: 0px !important;
  }
  main .form #map-container iframe {
    display: none !important;
  }
}
