@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap);
/* Codice CSS Italia Storica */
.container_80 {
  width: 80%;
  margin: 100px auto 0 auto;
  background-color: #303b2f;
}

.my_title {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 45px 0;
  padding: 20px 0 0 0;
  color: #d1bf8e;
  font-family: "Oswald", sans-serif;
  font-size: 4rem !important;
}

.small_title {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 75px 0;
  padding: 0;
  color: #d1bf8e;
  font-family: "Oswald", sans-serif;
  font-size: 3.3rem !important;
}

/* CLASSI UTILITY */
.d_flex {
  display: flex;
}

.d_flex_column {
  display: flex;
  flex-direction: column;
}

.d_flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.position_absolute {
  position: absolute;
}

.position_relative {
  position: relative;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

/*=============================================
        =            MEDIAQUERY       =
=============================================*/
@media (max-width: 1550px) {
  .book_details div {
    font-size: 1.08rem !important;
  }

  .book_details div > span {
    font-size: 1.2rem !important;
  }

  .book_details div #about {
    font-size: 0.96rem !important;
  }

  .shield-wrap::before, .shield-wrap::after {
    width: 25rem !important;
  }
}
@media (max-width: 1300px) {
  .shield-wrap::before, .shield-wrap::after {
    width: 22rem !important;
  }
}
@media (min-width: 821px) and (max-width: 980px) {
  .shield-wrap::before, .shield-wrap::after {
    width: 18rem !important;
  }
}
@media (min-width: 660px) and (max-width: 820px) {
  .shield-wrap::before, .shield-wrap::after {
    width: 14rem !important;
  }
}
@media (min-width: 585px) and (max-width: 659px) {
  .shield-wrap::before, .shield-wrap::after {
    width: 12rem !important;
  }
}
@media (min-width: 535px) and (max-width: 584px) {
  .shield-wrap::before, .shield-wrap::after {
    width: 10.5rem !important;
  }
}
@media (max-width: 439px) {
  .shield-wrap::before, .shield-wrap::after {
    max-width: 5.5rem !important;
  }
}
@media (max-width: 1571px) {
  .card-body i {
    font-size: 3.5rem !important;
  }

  .card-text {
    font-size: 1.3rem !important;
  }

  .card-title {
    font-size: 1.3rem !important;
  }
}
@media (max-width: 400px) {
  .my_title {
    font-size: 3.5rem !important;
  }
}
/*=====  End of Section Mediaquery comment block  ======*/
/*=============================================
=            Section INPUT RADIO           =
=============================================*/
label {
  margin: 0;
  cursor: pointer;
}

.radio_input {
  visibility: hidden;
}

.radio_nuovo_input {
  display: inline;
  margin-top: 30px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: floralwhite;
  background-clip: content-box;
}
.radio_nuovo_input:focus, .radio_nuovo_input:hover {
  border: 1px solid darkgray;
}

.radio_nuovo_input::after {
  content: "";
  display: block;
  width: 70%;
  height: 70%;
  background: #292929;
  margin: 2px;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.2s;
}

.radio_input:checked + .radio_nuovo_input::after {
  transform: scale(1);
}

/*=====  End of Section INPUT  ======*/
/*=============================================
=               Section SOCIAL ICON         =
==============================================*/
/*=====  End of Section SOCIAL ICON  ======*/
/*========================================
=            Section BUTTON         =
========================================*/
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 2em 0.55em;
  border-radius: 0.5em;
  letter-spacing: 1px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button:hover, .button:focus {
  color: black;
  text-decoration: none;
}

.button:active {
  position: relative;
  top: 1px;
  background-color: white;
  color: black;
}

.orange {
  color: floralwhite;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#faa51a", endColorstr="#f47a20");
}

.orange:hover {
  background: #f47c20;
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f88e11", endColorstr="#f06015");
}

.orange:active {
  color: black;
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f47a20", endColorstr="#faa51a");
}

/*=====  End of Section BUTTON ======*/
/*=============================================
    =            Section LISTS           =
==============================================*/
ul {
  list-style: none;
}

/*=====  End of Section LISTS  ======*/
/*=====================================
=             Section LINKS          =
======================================*/
a:hover {
  color: black;
}

.my_links {
  color: floralwhite;
}
.my_links:hover {
  text-decoration: none;
  color: #fa991c !important;
}

/*=====  End of Section LINKS  ======*/
/*=============================================
=               Section SCROLLBARS          =
==============================================*/
/* Mozilla Firefox */
* {
  scrollbar-color: transparent black;
  scrollbar-width: 0px;
}

/* Google, Safari, Edge, Opera */
*::-webkit-scrollbar {
  overflow: scroll;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  border: none;
}

/*===== Codice per frecce browser Webkit ======*/
*::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, black 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, black 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, black 30%, rgba(0, 0, 0, 0) 31%);
  background-color: floralwhite;
}

*::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, black 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, black 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, black 30%, rgba(0, 0, 0, 0) 31%);
  background-color: floralwhite;
}

/*===== End Codice per frecce browser Webkit ======*/
/* Explorer */
* {
  -ms-overflow-style: none;
}

/*=====  End of Section SCROLLBARS  ======*/
/*================================================
    =           Section CARD BUTTONS       =
================================================*/
@media (min-width: 1300px) and (max-width: 1500px) {
  .button {
    font-size: 1.3vw !important;
  }
}
@media (min-width: 992px) and (max-width: 1299px) {
  .button {
    font-size: 1rem !important;
  }

  .col-xl-4:first-child .button, .col-xl-4:last-child .button {
    white-space: normal !important;
  }
}
@media (min-width: 580px) and (max-width: 991px) {
  .button {
    padding: 0.5em 2em 0.55em;
  }
}
@media (min-width: 471px) and (max-width: 579px) {
  .button {
    font-size: 1.15rem !important;
    padding: 0.5em 0.55em;
  }
}
@media (max-width: 470px) {
  .button {
    font-size: 1rem !important;
    padding: 0.5em 0.55em;
    white-space: normal !important;
  }
}
.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  transform-style: preserve-3d;
  list-style: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  white-space: nowrap;
  will-change: transform;
}
.glide__slides__dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.glide__slide {
  flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  -webkit-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}
.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  color: floralwhite;
  text-transform: uppercase;
  padding: 12px 15px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 240, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  line-height: 1;
}
.glide__arrow:focus {
  color: floralwhite;
}
.glide__arrow:hover {
  outline: none;
  border-color: white;
}
.glide__arrow--left {
  margin-right: 32em;
  margin-left: -19em;
}
.glide__arrow--disabled {
  opacity: 0.33;
}
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 1%;
  left: 50%;
  display: inline-flex;
  cursor: pointer;
  list-style: none;
  transform: translateX(-50%);
}
.glide__bullet {
  background-color: rgba(255, 250, 240, 0.5);
  width: 15px;
  height: 15px;
  padding: 0;
  padding-left: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: -6.3em 0.75em;
}
.glide__bullet:focus {
  outline: none;
  background-color: floralwhite;
}
.glide__bullet:hover {
  outline: none;
  border: 2px solid floralwhite;
  background-color: rgba(255, 255, 240, 0.5);
}
.glide__bullet--active {
  background-color: floralwhite;
}
.glide--swipeable {
  cursor: default !important;
}
.glide--dragging {
  cursor: default !important;
}

.glide {
  position: initial;
  display: flex;
  height: 100%;
}

.glide img {
  min-height: 596px;
  filter: drop-shadow(25px 10px 8px rgba(0, 0, 0, 0.2));
}

.glide .glide__slide {
  filter: blur(3px);
  opacity: 20%;
  transition: 0.5s linear;
}

.glide .glide__slide--active {
  opacity: 1;
  filter: none;
  transform: scale(1.01);
}

.glide .glide__slides {
  overflow: visible;
  margin-bottom: 0;
}

body {
  background: #292929;
  color: floralwhite;
  font-family: "Open Sans", "sans-serif";
  overflow-x: hidden;
}
body header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
body header .icon {
  color: #fa991c;
  margin-right: 10px;
  font-size: 1.2rem !important;
}
body header .span {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  line-height: 1.5;
  color: floralwhite;
}
body header .navbar {
  min-height: 70px;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
body header .navbar i {
  margin: 0 5px 0 15px;
  color: #fa991c;
}
body header .navbar .icons, body header .navbar .social {
  width: 50%;
}
body header .navbar .icons {
  padding-left: 2.9rem;
}
body header .navbar .social {
  padding-right: 3.65rem;
}
body header .my_jumbotron {
  font-family: "Oswald", "sans-serif";
  height: 350px;
  padding-bottom: 440px;
}
body header .my_jumbotron .row {
  margin: 0;
  padding: 0;
}
body header .my_jumbotron .main_title img {
  height: 350px !important;
  width: 100% !important;
  overflow: hidden;
}
body header .my_jumbotron .main_title .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.3;
  }
}
body header .my_jumbotron .main_title h1 {
  font-size: 7rem;
  text-align: center;
  line-height: 1.2;
  position: absolute;
  top: 65%;
  margin: 0;
  padding: 0;
}
body header .my_jumbotron .steel_bar {
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
}
body header .my_jumbotron .steel_bar p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}
body main .core {
  margin: 0;
  padding: 0 0 45px 0;
}
body main .core .book-title .shield-wrap {
  text-align: center;
  margin-bottom: 75px;
}
body main .core .book-title .shield-wrap::before, body main .core .book-title .shield-wrap::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 30rem;
  height: 2px;
  line-height: 4px;
  background-color: #d1bf8e;
}
body main .core .book-title img {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
body main .core .fade-enter, body main .core .fade-leave-to {
  opacity: 0;
}
body main .core .fade-enter-active, body main .core .fade-leave-active {
  transition: opacity 1s ease-in-out;
}
body main .core .fade-move {
  transition: opacity 2.1s ease-in-out;
}
body main .core #book-main {
  margin: 0;
  width: 100%;
}
body main .core #book-main .book_details {
  padding-left: 50px;
}
body main .core #book-main .book_details div {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
body main .core #book-main .book_details div > span {
  font-family: "Oswald", sans-serif;
  color: #fa991c;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
}
body main .core #book-main .book_details div #about {
  font-family: "Open Sans", sans-serif;
  color: floralwhite;
  font-size: 1.04rem;
  text-align: left;
  line-height: 1.6;
  text-transform: none;
  margin: 20px 0 20px 0;
}
body main .core #book-main .book_description #book_details {
  margin: 0px;
}
body main .core #book-main .book_description .order-css {
  padding-top: 115px !important;
}
body main .core .book-second_row {
  width: 100%;
  height: 100%;
  margin: 15px 0 0 0;
}
body main .core .book-second_row #buy {
  font-family: "Oswald", sans-serif;
  color: floralwhite;
  margin: 0;
}
body main .order {
  margin: 0;
  padding: 0 0 45px 0;
  font-family: "Oswald", "sans-serif";
  padding-top: 85px;
}
body main .order .card-collector {
  padding: 0;
  margin-bottom: 150px;
}
body main .order .card-collector .card-container .card {
  background-color: rgba(209, 191, 142, 0.2);
  border: 1px solid #292929;
  border-radius: 0;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}
body main .order .card-collector .card-container .card .card-title {
  color: floralwhite;
  text-shadow: 2px 2px black;
  font-size: 1.4rem;
}
body main .order .card-collector .card-container .card .card-body i {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fa991c;
  font-size: 4rem;
}
body main .order .card-collector .card-container .card .card-body hr {
  width: 80%;
  border: 1px solid floralwhite;
  border-radius: 50%;
}
body main .order .card-collector .card-container .card .card-body p {
  color: floralwhite;
  font-size: 1.4rem;
  padding-top: 30px;
}
body main .order .card-collector .card-container .card .card-body .button {
  margin-top: 30px;
  margin-bottom: 15px;
}
body main .order .card-collector .card-container .card .btn-primary {
  text-align: center;
}
body main .order .card-collector .card-container .col-xl-4 {
  padding-right: 45px;
  padding-left: 45px;
}
body main .order .card-collector .card-container .card {
  max-height: 550px;
  max-width: 473.33px !important;
}
body main .order .card-collector .card-container .card:hover {
  box-shadow: 10px 10px 5px 0px rgba(41, 41, 41, 0.25);
  outline: 5px solid #fa991c;
}
body main .order .order-bar {
  margin: 0;
  padding: 0;
}
body main .order .order-bar .desert-bar {
  width: 100%;
  min-height: 35px;
  background: #9a7d2e;
}
body main .personal {
  margin: 0;
  padding: 0 0 45px 0;
  background-color: #303b2f;
}
body main .personal p {
  font-size: 1.04rem;
  font-family: "Open Sans", sans-serif;
  color: floralwhite;
  text-align: left;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
body main .personal .publisher-title .shield-wrap {
  text-align: center;
  margin-bottom: 75px;
}
body main .personal .publisher-title .shield-wrap::before, body main .personal .publisher-title .shield-wrap::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 30rem;
  height: 2px;
  line-height: 4px;
  background-color: #d1bf8e;
}
body main .personal .publisher-title img {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
body main .personal #bio {
  padding: 0 50px 0 50px;
}
body main .personal #bio img {
  width: 18vw;
  margin-right: 40px;
  filter: grayscale(0%);
}
body main .personal #bio p {
  align-self: center;
}
body main .personal #middle {
  padding: 50px 50px 0 50px;
}
body main .personal #operas {
  padding: 50px 50px 0 50px;
}
body main .personal #operas img {
  width: 19vw;
  margin-right: 40px;
  filter: grayscale(80%) drop-shadow(25px 10px 8px rgba(0, 0, 0, 0.2));
}
body main .personal #operas p {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
body main .personal .sponsor-title {
  padding: 0;
  margin-top: 130px;
}
body main .personal .supporters {
  padding: 0;
}
body main .personal .supporters .loghi {
  margin-top: 25px;
}
body main .personal .supporters .secloghi {
  padding-top: 50px;
}
body main .personal .supporters .terloghi {
  padding-top: 50px;
  padding-bottom: 130px;
}
body main .personal .supporters img {
  width: 10%;
  filter: grayscale(100%);
  transform: scale(1);
  transition: all 1s ease 0.2s;
}
body main .personal .supporters img:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
  transition: all 1s ease 0.2s;
  cursor: pointer;
}
body main .personal .supporters .terloghi > img:nth-child(4) {
  position: relative;
  bottom: 1rem;
}
body main .personal .news p {
  color: floralwhite;
  background-color: rgba(209, 191, 142, 0.2);
  padding: 30px;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.04rem;
  text-align: left;
  line-height: 1.5;
  margin: 0 0 150px 0;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #292929;
}
body main .personal .order-bar {
  margin: 0;
  padding: 0;
}
body main .personal .order-bar .desert-bar {
  width: 100%;
  min-height: 35px;
  background: #9a7d2e;
}
body main .form {
  margin: 0;
  padding: 0 0 45px 0;
  padding-bottom: 150px;
}
body main .form .icon {
  color: #fa991c;
  margin-right: 10px;
  font-size: 1.2rem !important;
}
body main .form .span {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  line-height: 1.5;
  color: floralwhite;
}
body main .form .form-title .shield-wrap {
  text-align: center;
  margin-bottom: 75px;
}
body main .form .form-title .shield-wrap::before, body main .form .form-title .shield-wrap::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 30rem;
  height: 2px;
  line-height: 4px;
  background-color: #d1bf8e;
}
body main .form .form-title img {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
body main .form .help {
  padding-bottom: 150px;
}
body main .form .help p {
  width: 68%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.04rem;
  text-align: left;
  line-height: 1.5;
  color: floralwhite;
}
body main .form .contatti_container {
  padding: 0;
  height: 100%;
}
body main .form .contatti_container #form-container {
  width: 100%;
  padding: 0;
}
body main .form .contatti_container #form-container form {
  width: 500px;
  margin-left: -115px;
  max-height: 450px !important;
}
body main .form .contatti_container #form-container i {
  font-size: 5rem;
  padding-bottom: 40px;
  margin-left: -100px;
}
body main .form .contatti_container #form-container input, body main .form .contatti_container #form-container textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  padding: 8px;
}
body main .form .contatti_container #map-container {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  padding: 0;
  align-items: center !important;
  font-size: 1.04rem;
  margin-left: -170px;
  max-height: 500px;
}
body main .form .contatti_container #map-container .map_responsive {
  overflow: hidden;
  justify-content: center;
  position: relative;
}
body main .form .contatti_container #map-container .map_responsive iframe {
  height: 100%;
  width: 0%;
  position: absolute;
}
body main .form .contatti_container #map-container .icons-container {
  margin-top: 70px;
}
body main .form .contatti_container #map-container .icons-container p {
  margin: 0;
  width: 100%;
}
body footer .copyright {
  margin: 0;
  padding: 0;
  height: 30px;
  background-color: #9a7d2e;
}
body footer .copyright p {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}
