// Color Map
$color-map: (
    
  // Background
  
  "background_color": rgb(41, 41, 41), 
  "primary_color": rgb(48, 59, 47),
  "bar_color": rgb(154, 125, 46),
  "bg_card_color":   rgba(209, 191, 142, 0.2),
//   "card_bar_color": rgb(158,157,81),
//   "card_title_color": rgba(85, 255, 0, 0.7),

  // Accent
  
  "links_color": rgb(250, 153, 28),
  "text_color": rgb(255, 250, 240),
  "title_color": rgb(209,191,142),
);

// Container
.container_80 {
width: 80%;
margin: 100px auto 0 auto;
background-color: map-get($color-map, primary_color);
}

// Height & Width
.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}


// Sezioni
@mixin sezioni {
    margin: 0;
    padding: 0 0 45px 0;
}

// Titoli principali
.my_title {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 45px 0;
    padding: 20px 0 0 0;
    color: map-get($color-map, title_color);
    font-family: "Oswald", sans-serif;
    font-size: 4rem !important;
}

// Titoli secondari
.small_title {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 75px 0;
    padding: 0;
    color: map-get($color-map, title_color);
    font-family: "Oswald", sans-serif;
    font-size: 3rem !important;
}

// Shield decoration
@mixin shieldknot {
    .shield-wrap {
        text-align: center;
        margin-bottom: 75px
    }
    
    .shield-wrap::before, .shield-wrap::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 30rem;
        height: 2px;
        line-height: 4px;
        background-color: rgb(209,191,142);
    }

    img {
        width: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

}


// Descrizioni
@mixin descrizioni {
    .book_description > h4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .book_details {
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .book_details > p {
        font-family: "Open Sans", sans-serif;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    
    .book_details > p > span {
        font-family: "Oswald", sans-serif;
        color: map-get($color-map, links_color);
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.2;
        text-transform: uppercase;
        text-shadow: 2px 2px black;
    }

    .book_details > .about {
        font-family: "Open Sans", sans-serif;
        font-size: 1.2rem;
        text-align: left;
        line-height: 1.5;
        margin: 30px 0 30px 0;
    }
}

// Bar 
@mixin barra {
    .desert-bar {
        width: 100%;
        min-height: 35px;
        background: map-get($color-map, bar_color);
    }
}

// Card 
.card { 
    border-radius: 0;
}

// Flexbox  
.d_flex {
    display: flex;
}

.d_flex_column {
    display: flex;
    flex-direction: column;
}

.d_flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}



// Position
.position_absolute{
  position: absolute;
}

.position_relative{
  position: relative;
}


