// Container

.container_80 {
width: 80%;
margin: 150px auto 0 auto;

}

// Height & Width
.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}


// Sezioni
@mixin sezioni {
    background-color: map-get($color-map, primary_color);
    // -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    // -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    // box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 0 0 45px 0;
}


// Card 
.card { 
    border-radius: 0;
}



// Titoli principali
.my_title {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem !important;
    margin: 0 0 45px 0;
    padding: 20px 0 0 0;
}

// Descrizioni
@mixin descrizioni {
    .book_description > h4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .book_details {
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .book_details > p {
        font-family: "Open Sans", sans-serif;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    
    .book_details > p > span {
        font-family: "Oswald", sans-serif;
        color: map-get($color-map, links_color);
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.2;
    }

    .book_details > .about {
        font-family: "Open Sans", sans-serif;
        font-size: 0.9rem;
        text-align: left;
        line-height: 1.5;
        margin: 30px 0 30px 0;
    }
}



// Flexbox  
.d_flex {
    display: flex;
}

.d_flex_column {
    display: flex;
    flex-direction: column;
}

.d_flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}



// Position

.position_absolute{
  position: absolute;
}

.position_relative{
  position: relative;
}



