// Color Map
$color-map: (
    
  // Background
  
  "background_color": rgb(25, 29, 39), 
  "primary_color": rgb(44, 62, 80), // sezioni dispari
  "secondary_color": rgb(88, 130, 143), // sezioni pari

  // Accent
  
  "links_color": rgb(250, 153, 28),
  "text_color": rgb(255, 250, 240),

);


// Typography

// Font-sizes
$xsmall: 14px;
$small: 18px;
$medium: 24px;
$large: 36px;
$xlarge: 50px;

h1, h2, h3, h4, h5 {
    line-height: 1.5;
}





