.slider {
    overflow: hidden;  
    
}

.slider-track {
    height: inherit;
    width: 100%;
    overflow: hidden;
}

.slide {
    width: inherit !important; 
    filter: drop-shadow(25px 10px 8px rgba(0, 0, 0, 0.2));
    transition: transform 250ms ease-in  !important;
}

.slide img {
    min-height: 560px;
    object-fit: cover;
    opacity: 20%; 
    filter: blur(3px);
    transition: 0.5s linear;

}

.slide.selected img {
    opacity: 1 !important;
    filter: none !important;
}

.btnC {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btnC:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}  

.carousel_button {
    color: floralwhite;
    text-transform: uppercase;
    padding: 12px 15px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 240, 0.5);
    border-radius: 4px;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    line-height: 1;
}
  
.carousel_button:hover {
    outline: none;
    border-color: white; 
}

.carousel_button:focus {
    color: floralwhite;
}

.carousel_bullet {
    background-color: rgba(255, 250, 240, 0.5);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    line-height: 0;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    margin-right: 0.75em;
    
    &:focus {
        outline: none;
        background-color: floralwhite;
    }

    &:hover {
        outline: none;
        border: 2px solid floralwhite;
        background-color: rgba(255, 255, 240, 0.5);
    }

    &:active {
        background-color: floralwhite;
    }
}

.radiobuttonContainer {
    margin-top: 2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

