// Color Map
$color-map: (
    
  // Background  
  "background_color": rgb(41, 41, 41), 
  "primary_color": rgb(48, 59, 47),
  "bar_color": rgb(154, 125, 46),
  "bg_card_color":   rgba(209, 191, 142, 0.2),

  // Accent
  "hover_color": rgb(244, 124, 32),
  "links_color": rgb(250, 153, 28),
  "text_color": rgb(255, 250, 240),
  "title_color": rgb(209,191,142),
);


// Container
.container_80 {
    width: 80%;
    margin: 100px auto 0 auto;
    background-color: map-get($color-map, primary_color);
}


// Sezioni
@mixin sezioni {
    margin: 0;
    padding: 0 0 45px 0;
}


// Titoli principali
.my_title {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 45px 0;
    padding: 20px 0 0 0;
    color: map-get($color-map, title_color);
    font-family: "Oswald", sans-serif;
    font-size: 4rem !important;
}

// Titoli secondari
.small_title {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 75px 0;
    padding: 0;
    color: map-get($color-map, title_color);
    font-family: "Oswald", sans-serif;
    font-size: 3.3rem !important;
}


// Shield decoration
@mixin shieldknot {
    .shield-wrap {
        text-align: center;
        margin-bottom: 75px
    }
    
    .shield-wrap::before, .shield-wrap::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 30rem;
        height: 2px;
        line-height: 4px;
        background-color: rgb(209,191,142);
    }

    img {
        width: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

// Bar 
@mixin barra {
    .desert-bar {
        width: 100%;
        min-height: 35px;
        background: map-get($color-map, bar_color);
    }
}


// Descrizioni
@mixin descrizioni {
    .book_details {
        padding-left: 50px;
        
    }

    .book_details  div {
        font-family: "Open Sans", sans-serif;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }
    
    .book_details  div > span {
        font-family: "Oswald", sans-serif;
        color: map-get($color-map, links_color);
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.2;
        text-transform: uppercase;
        text-shadow: 2px 2px black;
    }
    
    .book_details  div #about {
        font-family: "Open Sans", sans-serif;
        color: map-get($color-map, text_color);
        font-size: 1.04rem;
        text-align: left;
        line-height: 1.6;
        text-transform: none;
        margin: 20px 0 20px 0;
    }

}

// Card 
@mixin card {
    .card {
        background-color: map-get($color-map, bg_card_color);
        border: 1px solid map-get($color-map, background_color);
        border-radius: 0;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
        
        .card-title {
            color: map-get($color-map, text_color);
            text-shadow: 2px 2px black;
            font-size: 1.4rem;
        }
        
        .card-body {

            i {
                width: 100%;
                padding-top: 30px;
                padding-bottom: 30px;
                color: map-get($color-map, links_color);
                font-size: 4rem;
            }

            hr {
                width: 80%;
                border: 1px solid map-get($color-map, text_color);
                border-radius: 50%;
            }
           
            p {
                color: map-get($color-map, text_color);
                font-size: 1.4rem;
                padding-top: 30px;
            }

            .button {
                margin-top: 30px;
                margin-bottom: 15px;
            }
        }
        
        .btn-primary {
            text-align: center;
        }
        
    }
}



/* CLASSI UTILITY */


// Flexbox  
.d_flex {
    display: flex;
}

.d_flex_column {
    display: flex;
    flex-direction: column;
}

.d_flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// Position
.position_absolute{
  position: absolute;
}

.position_relative{
  position: relative;
}


// Height & Width
.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}




/*=============================================
        =            MEDIAQUERY       =
=============================================*/

// Descrizioni
@media (max-width: 1550px) {
    
    .book_details  div {      
        font-size: 1.08rem !important;
    }
    
    .book_details  div > span {
        font-size: 1.2rem !important;
    }
    
    .book_details  div #about {
        font-size: 0.96rem !important;
    }
    
    .shield-wrap::before, .shield-wrap::after {

        width: 25rem !important;

    }
}


// Shieldknot
@media (max-width: 1300px) {

    .shield-wrap::before, .shield-wrap::after {

        width: 22rem !important;

    }
}

@media (min-width: 821px) and (max-width: 980px) {

    .shield-wrap::before, .shield-wrap::after {

        width: 18rem !important;

    }
}

@media (min-width: 660px) and (max-width: 820px) {

    .shield-wrap::before, .shield-wrap::after {

        width: 14rem !important;

    }
}

@media (min-width: 585px) and (max-width: 659px) {

    .shield-wrap::before, .shield-wrap::after {

        width: 12rem !important;

    }
}

@media (min-width: 535px) and (max-width: 584px) {

    .shield-wrap::before, .shield-wrap::after {

        width: 10.5rem !important;

    }
}

@media (max-width: 439px) {
    .shield-wrap::before, .shield-wrap::after {

        max-width: 5.5rem !important;

    }
}


// Card (orizzontali, fino a 992 px)

@media (max-width: 1571px) {

    .card-body {
        i {   
            font-size: 3.5rem !important;
        }
    }

    .card-text {
        font-size: 1.3rem !important;
    }

    .card-title {
        font-size: 1.3rem !important;
    }
}

@media (min-width: 1200px) and (max-width: 1570px) {

    .card {
        height: 520px !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-xl-4 {
        padding-left: 25px !important; 
        padding-right: 25px !important; 

    }

    .card {
        height: 520px !important;
    }
}

@media (min-width: 992px) and (max-width: 1333px) {
    
    div.col-xl-4:nth-child(3) p {
        padding-top: 5px !important;
    }

}





// Card (verticali, da 992 px fino a 440px)

@media (min-width: 400px) and (max-width: 991px) {
   
    .card-container > .col-xl-4:not(:first-child) {

        margin-top: 60px !important;
    }

    .card-container .col-xl-4 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .card {
        width: 360px !important;
    }
}











// @media (min-width: 993px) and (max-width: 1062px) {
    
//     .card-text {
//         margin: 0;
//         padding: 0;
//     }
// }

// @media (min-width: 992px) and (max-width: 1199px) {
    
//     div.col-xl-4:nth-child(2) .card-body .card-text {
//         padding: 0;
//     }
// }



// @media (min-width: 992px) and (max-width: 1210px) {
    
//     div.col-xl-4:nth-child(1) p {
//         padding-top: 5px !important;
//     }

// }














/*=====  End of Section Mediaquery comment block  ======*/