.glide {
    position: initial;
    display: flex;
    height: 100%;
}

.glide img {
    min-height: 580px;
    filter: drop-shadow(25px 10px 8px rgba(0, 0, 0, 0.2));

}

.glide .glide__slide {
    filter: blur(3px);
    opacity: 20%;
    transition: 0.5s linear;
}

.glide .glide__slide--active {
    opacity: 1;
    filter: none;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);

}

.glide .glide__slides {
    overflow: visible;
}
