/*=============================================
=            MAIN ROW PERSONAL MEDIAQUERY        =
=============================================*/



// Immagini della bigrafia e delle opere
@media (max-width: 999px) {
    main {
        .personal {
            #bio {
                img {
                    display: none;
                }
            }

            #middle {
                padding: 0 50px 0 50px !important;
            }

            #operas {
                img {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    main {
        .personal {
            #bio {
                img {
                    display: block;
                    width: 20vw !important;
                }
            }

            #operas {
                img {
                    display: none;
                  
                }
            }
        }
    }
}


@media (min-width: 1200px) and (max-width: 1299px) {
    main {
        .personal {
            #bio {
                img {
                    display: block;
                    width: 20vw !important;
                }
            }

            #operas {
                img {
                    display: block;
                  
                }
            }

           
        }
    }
}


// Loghi supporters

@media (min-width: 1400px) and (max-width: 1550px) {
    main {
        .personal {
            .supporters {
                img {
                    width: 12% !important;
                }
                .terloghi > img:nth-child(3) {
                    position: relative;
                    bottom: 1.5rem !important;
                } 
            }
            
        }
    }
}

@media (min-width: 1150px) and (max-width: 1399px) {
    main {
        .personal {
            .supporters {
                img {
                    width: 14% !important;
                }
                .terloghi > img:nth-child(3) {
                    position: relative;
                    bottom: 1rem !important;
                } 
            }
            
        }
    }
}

@media (min-width: 992px) and (max-width: 1149px) {
    main {
        .personal {
            .supporters {
                img {
                    width: 16% !important;
                }
                .terloghi > img:nth-child(3) {
                    position: relative;
                    bottom: 1rem !important;
                } 
            }
            
        }
    }
}

@media (min-width: 850px) and (max-width: 991px) {
    main {
        .personal {
            .supporters {
                img {
                    min-width: 19% !important;
                }
                .terloghi > img:nth-child(2) {
                    position: relative;
                    bottom: 1rem !important;
                } 
            }
            
        }
    }
}

@media (min-width: 700px) and (max-width: 849px) {
    main {
        .personal {
            .supporters {
                img {
                    width: 22% !important;
                }
                .terloghi > img:nth-child(2) {
                    position: relative;
                    bottom: 1rem !important;
                } 
            }
            
        }
    }
}