/*=============================================
=            MAIN ROW CORE MEDIAQUERY        =
=============================================*/

// Distacco da steelbar schermo piccolo
@media (max-width: 375px) {
  main {
    .core {
      margin: 150px 0 0 0 !important;
    }
  }
}

@media (min-width: 376px) and (max-width: 474px) {
  main {
    .core {
      margin: 120px 0 0 0 !important;
    }
  }
}



// Copertina libri
@media (max-width: 600px) {
  main {
    .core {
      
      .glide {
        img {
          min-height: 400px !important; 
        }
      }

      .book_details {
        padding-left: 0px !important;
      }
    }
  }
}


// Descrizione libri 
@media (max-width: 1200px) {
  .book_details {
    padding-left: 0 !important;
    padding-top: 100px !important;
  }
}


// @media (min-width: 1429px) and (max-width: 1550px) {
//     main {
//       .core {
//         .book-main {
//           .glide {
//             img {
//               min-height: 550px; 
//             }
//           }

//           .book_details {
//             // max-height: 550px;
//           }

//           #book_details {
//             // max-height: 550px;
//           }
//         }

//         .book-second_row {
//           .button {
//             
//             margin-top: 10px;
//           }
//         }
//       }
//     }
// }

// @media (min-width: 1200px) and (max-width: 1429px) {
//     main {
//       .core {
//         .glide {
//           img {
//             // min-height: 580px !important; 
//           }
//         }

//         .book_details {
//           // max-height: 550px !important;
//         }

//         #book_details {
//           // max-height: 550px;
//         }
//       }
//     }
// }



// Book-main

@media (min-width: 1200px) {
  main {
    .core {
      #book-main {
       
      }
      
      .book-second_row {
        .button {
          margin-top: 50px;
        }
      }
    }
  }

}


@media (max-width: 1199px) {
  main {
    .core {
      .book-second_row {
        .button {
          font-size: 1rem !important;
          margin-top: 50px;
        }
      }
    }
  }
}




// Glide arrows
@media (max-width: 799px) {
  main {
    .core {
      .glide {
       .glide__arrows {
         display: none !important;
        }

      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1699px) {
  main {
    .core {
      .glide {
       .glide__arrows {
         display: none !important;
        }
      }
    }
  }
}


// Spaziature Glide arrows

@media (min-width: 800px) and (max-width: 899px) {
  main {
    .core {
      .glide {
       .glide__arrow--left {
         left: 3em !important;
        }

        .glide__arrow--right {
          right: 3em !important;
         }

      }
    }
  }
}

@media (min-width: 900px) and (max-width: 999px) {
  main {
    .core {
      .glide {
        
        .glide__arrow--left {
          left: 4em !important;
        }

        .glide__arrow--right {
          right: 4em !important;
        }

      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  main {
    .core {
      .glide {
        
        .glide__arrow--left {
          left: 7em !important;
        }

        .glide__arrow--right {
          right: 7em !important;
        }

      }
    }
  }
}