/*=============================================
=            MAIN ROW PERSONAL MEDIAQUERY        =
=============================================*/



// Immagini della bigrafia e delle opere
@media (max-width: 999px) {
    main {
        .personal {
            #bio {
                img {
                    display: none;
                }
            }

            #middle {
                padding: 0 50px 0 50px !important;
            }

            #operas {
                img {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    main {
        .personal {
            #bio {
                img {
                    display: block;
                    width: 20vw !important;
                }
            }

            #operas {
                img {
                    display: none;
                  
                }
            }
        }
    }
}


@media (min-width: 1200px) and (max-width: 1299px) {
    main {
        .personal {
            #bio {
                img {
                    display: block;
                    width: 20vw !important;
                }
            }

            #operas {
                img {
                    display: block;
                  
                }
            }

           
        }
    }
}


// Loghi supporters

@media (min-width: 1050px) and (max-width: 1300px) {
    main {
        .personal {
            .supporters {
                img {
                    width: 15% !important;
                }
                .terloghi > img:nth-child(4) {
                    position: relative;
                    bottom: 1.4rem !important;
                } 
            }
            
        }
    }
}

@media (min-width: 700px) and (max-width: 1049px) {
    main {
        .personal {
            .supporters {
                img {
                    width: 15% !important;
                }
                .terloghi > img:nth-child(4) {
                    position: relative;
                    bottom: 1rem !important;
                } 
            }
            
        }
    }
}

// @media (min-width: 550px) and (max-width: 699px) {
//     main {
//         .personal {
//             .supporters {
//                 img {
//                     width: 20% !important;
//                 }
//                 .terloghi > img:nth-child(4) {
//                     position: relative;
//                     bottom: 1rem !important;
//                 } 
//             }
            
//         }
//     }
// }

// @media (min-width: 400px) and (max-width: 549px) {
//     main {
//         .personal {
//             .supporters {
//                 img {
//                     width: 25% !important;
//                 }
//                 .terloghi > img:nth-child(4) {
//                     position: relative;
//                     bottom: 1rem !important;
//                 } 
//             }
            
//         }
//     }
// }