/*=============================================
=            MAIN ROW FORM MEDIAQUERY        =
=============================================*/

// Form e mappa

@media (min-width: 750px) and (max-width: 1650px) {
    main {
        .form {

            .help {
                padding-bottom: 60px !important;
            }

            .contatti_container {
                flex-direction: column;
                justify-content: center;

                #form-container {
                   
                    form {
                        margin-left: 0 !important;
                        margin-bottom: 100px;
                       
                    }
                    
                    i {
                        margin: 0 !important;
                    }
                    
                }

                #map-container {
                    margin: 0 !important;

                }
            }
        }
    }

}

@media (max-width: 749px) {
    main {
        .form {

            .help {
                padding-bottom: 60px !important;
            }

            .contatti_container {
                flex-direction: column;
                justify-content: center;

                #form-container {
                   
                    form {
                        margin-left: 0 !important;
                        margin-bottom: 100px;
                        width: 75% !important;
                    }
                    
                    i {
                        margin: 0 !important;
                    }
                    
                }
                
                #map-container {
                    margin: 0 !important;                  

                }
            }
        }
    }

}

@media (max-width: 649px) {
    main {
        .form {
            #map-container {

                .icons-container {
                    margin-top: 0px !important;
                }

                iframe {
                    display: none !important;
                }

            }

        }
    }

}
