/*=============================================
=            MAIN ROW CORE MEDIAQUERY        =
=============================================*/

// Distacco da steelbar schermo piccolo
@media (max-width: 375px) {
  main {
    .core {
      margin: 150px 0 0 0 !important;
    }
  }
}

@media (min-width: 376px) and (max-width: 474px) {
  main {
    .core {
      margin: 120px 0 0 0 !important;
    }
  }
}


// Copertina libri
@media (max-width: 1199px) {
  main {
    .core {
      // .slider {
        // height: 560px;
        // .slide {
        //   img {
        //     position: relative;
        //     left: 50%;
        //     transform: translate(-50%);
        //   }
        // }

        .radiobuttonContainer {
          margin-top: 2em;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }

    .book_details {
      padding-left: 0px !important;
    }
    
  }
}

// @media (min-width: 951px) and (max-width: 1199px) {
//   main {
//     .core {
//       .slider {
//         height: 560px;
//         .slide {
//           img {
//             height: 560px !important;
//             width: auto !important;
//             padding: 0 120px;
//           }
//         }
//       }
//     }
//   }
// }






// @media (min-width: 585px) and (max-width: 950px) {
//   main {
//     .core {
//       .slider {
//         height: 560px;
//         .slide {
//           img {
//             height: 560px !important;
//             width: auto !important;
//             padding: 0 100px;
//           }
//         }
//       }
//     }
//   }
// }






// Descrizione libri 
@media (max-width: 1199px) {
  main {
    .core {

      .book_details {
        padding-left: 0px !important;
        padding-top: 125px !important;
      }
    
      .book-second_row {
        .button {
          font-size: 1rem !important;
          margin-top: 50px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {

  main {
    .core {

      .book_details {
        padding-top: 0px !important;
        padding-left: 50px !important;
      }
      
      .book-second_row {
        .button {
          margin-top: 50px;
        }
      }
    }
  }

}


// Arrows
@media (max-width: 799px) {
  main {
    .core {
      .carousel_button {
        display: none !important;
      }
      
    }
  }
}

@media (min-width: 1200px) and (max-width: 1699px) {
  main {
    .core {
      .carousel_button {
        display: none !important;
      }
      
    }
  }
}



