/*=============================================
=            MAIN ROW CORE MEDIAQUERY        =
=============================================*/

// Distacco da steelbar schermo piccolo
@media (max-width: 375px) {
  main {
    .core {
      margin: 150px 0 0 0 !important;
    }
  }
}

@media (min-width: 376px) and (max-width: 474px) {
  main {
    .core {
      margin: 120px 0 0 0 !important;
    }
  }
}


// Copertina libri
@media (min-width: 1200px) {
  main {
    .core {
      .slider {
        min-height: 560px;
        .slider-track {
          // margin: 0 calc((100% - (var(--widthA)))/2);
          // --widthA: 390px;
          img {
            min-height: 560px;
          }
        }
      }
    }

    .book_details {
      padding-left: 0px !important;
    }
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  main {
    .core {
      .slider {
        img {
          min-height: 560px !important;
        }
        // .slider-track {
        //   margin: 0 calc((100%- (var(--widthA))) /2);
        //   --widthA: 390px;
        // }
      }
    }

    .book_details {
      padding-left: 0px !important;
    }
    
  }
}

@media (max-width: 599px) {
  main {
    .core {
      .slider {
        height: 317px;
        // .slider-track {
        //   margin: 0 calc((100% - (var(--widthA)))/2);
        //   --widthA: 221px;
        // }
      } 
    }

    .book_details {
      padding-left: 0px !important;
    }
  }
}
  

      




// Descrizione libri 
@media (max-width: 1199px) {
  main {
    .core {

      .book_details {
        padding-left: 0px !important;
        padding-top: 75px !important;
      }
    
      .book-second_row {
        .button {
          font-size: 1rem !important;
          margin-top: 50px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {

  main {
    .core {

      .book_details {
        padding-top: 0px !important;
        padding-left: 50px !important;
      }
      
      .book-second_row {
        .button {
          margin-top: 50px;
        }
      }
    }
  }

}


// Arrows
@media (max-width: 799px) {
  main {
    .core {
      .carousel_button {
        display: none !important;
      }
      
    }
  }
}

@media (min-width: 1200px) and (max-width: 1699px) {
  main {
    .core {
      .carousel_button {
        display: none !important;
      }
      
    }
  }
}



