/*=============================================
=            MAIN ROW ORDER MEDIAQUERY        =
=============================================*/
// @media (min-width: 1201px) and (max-width: 1450px) {
//     main {
//         .order {

//         }
//     }
// }


// @media (min-width: 992px) and (max-width: 1428px) {
//     main {
//         .order {
//            //  margin-top: 3vh !important;
//         }
//     }
// }


// @media (min-width: 701px) and (max-width: 991px) {
//     main {
//         .order {
//             margin-top: 38vh !important;
//         }
//     }
// }

// @media (min-width: 451px) and (max-width: 700px) {
//     main {
//         .order {
//             margin-top: 40vh !important;
//         }
//     }
// }


// @media (min-width: 423px) and (max-width: 450px) {
//     main {
//         .order {
//             margin-top: 43vh !important;
//         }
//     }
// }


// @media (min-width: 401px) and (max-width: 422px) {
//     main {
//         .order {
//             margin-top: 45vh !important;
//         }
//     }
// }

// @media (min-width: 381px) and (max-width: 400px) {
//     main {
//         .order {
//             margin-top: 49vh !important;
//         }
//     }
// }


// @media (min-width: 361px) and (max-width: 380px) {
//     main {
//         .order {
//             margin-top: 53vh !important;
//         }
//     }
// }


// @media (max-width: 360px) {
//     main {
//         .order {
//             margin-top: 55vh !important;
//         }
//     }
// }















@media (min-width: 400px) and (max-width: 991px) {
    main {
        .order {
            .card-container {
                .card {
                    word-wrap: normal !important;
                }
            }
        }
    }
}


@media (max-width: 379px) {
    main {
        .order {
            .card-container {
                .card {
                    max-height: 580px !important;
                    .card-title {
                        font-size: 1.29rem !important;
                    }                    
                }
            }
        }
    }
}


        
        
        
        
        
        
        