/*=============================================
=            MAIN ROW ORDER MEDIAQUERY        =
=============================================*/

// Card (orizzontali, da 992px in poi)
@media (min-width: 1023px) {
    .col-xl-4 {
        padding-left: 25px !important; 
        padding-right: 25px !important; 
    }

    .card {
        height: 510px !important;
    }
}

@media (min-width: 992px) and (max-width: 1022px) {
    .col-xl-4 {
        padding-left: 25px !important; 
        padding-right: 25px !important; 
    }

    .card {
        height: 540px !important;
    }
}


// Card orizzontali - "I nostri libri storico-militari"

@media (min-width: 992px) and (max-width: 1183px) {
    div.col-xl-4:nth-child(3) p {
        padding-top: 5px !important;
    }

}


@media (min-width: 992px) and (max-width: 1059px) {
    div.col-xl-4:nth-child(1) p {
        padding-top: 5px !important;
    }
    
}



// Card (verticali, da 0 a 991 px)

@media (max-width: 991px) {
    .card-container > .col-xl-4:not(:first-child) {
        margin-top: 60px !important;
    }
    
    .card-container .col-xl-4 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .card {
        width: 360px !important;
    
    }
}


@media (min-width: 400px) and (max-width: 991px) {
    main {
        .order {
            .card-container {
                .card {
                    word-wrap: normal !important;
                }
            }
        }
    }
}


@media (max-width: 379px) {
    main {
        .order {
            .card-container {
                .card {
                    max-height: 580px !important;
                    .card-title {
                        font-size: 1.29rem !important;
                    }
                }
            }
        }
    }
}
