/* MediaQuery CSS Italia Storica */

// Basic Stylesheet
@import "./Partials/_common.scss";
@import "./Partials/_elements.scss";





@media (max-width: 659px) {  
    header {
        .navbar {
            font-size: 0.7rem !important;
            
            .icons > span:nth-child(2), .icons i.icon.fas.fa-map-marker-alt {
                display: none;
            }
            
            .social span {
                display: none;
            }
            
        }
    }
}



@media (min-width: 660px) and (max-width: 829px) {  
    header {
        .navbar {
            font-size: 0.7rem !important;
            
            .icons > span:nth-child(2), .icons i.icon.fas.fa-map-marker-alt {
                display: none;
            }
            
            .social span {
                display: none;
            }
            
        }
    }



};



// Navbar
@media (min-width: 830px) and (max-width: 992px) {
    header {
        .navbar {
            font-size: 1rem !important;
            
            .icons > span:nth-child(2), .icons i.icon.fas.fa-map-marker-alt {
                display: none;
            }
            
            .social span {
                display: none;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) { 
    
    header {
        .navbar {
            font-size: 1rem !important;
            
            .icons > span:nth-child(2), .icons i.icon.fas.fa-map-marker-alt {
                display: none;
            }
            
            .social span {
                display: none;
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1300px) { 
   
    header {
        .navbar {
            font-size: 0.8rem !important;
        }
    }
}

@media (min-width: 1301px) and (max-width: 1379px) { 
    .navbar {
        font-size: 0.9rem !important;
    }
}

@media (min-width: 1380px) { 

    header {
       
        .navbar {
            font-size: 1rem !important;
        }
    }
}



// Steel bar

@media (max-width: 1700px) { 

    header {
        .steel_bar {
            & p {
                font-size: 1.2rem !important;
                text-align: center !important;
            }
        }
    }
}

@media (min-width: 1550px) and (max-width: 1700px) { 
    

    header {
        .steel_bar {
            & p {
                font-size: 1.3rem !important;
            }
        }
    }
}

@media (min-width: 1700px) and (max-width: 1800px) { 

    header { 

        .steel_bar {
            & p {
                font-size: 1.4rem !important;
            }
        }
    };

}


