/* Codice CSS Italia Storica */

// Basic Stykesheet
@import "./Partials/Main Style/_common.scss";
@import "./Partials/Main Style/_elements.scss";

// Glide Js Required Stylesheet
@import "./Partials/Glide/_variables.scss";
@import "./Partials/Glide/glide.core.scss";
@import "./Partials/Glide/glide.theme.scss";

@import "./Partials/Main Style/_glide.scss";

// Special GoogleFont
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');



body {
    background: map-get($color-map, background_color);
    color: floralwhite;
    font-family: 'Open Sans', 'sans-serif';
    overflow-x: hidden;
    
    header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        @include social_icons;
        
        .navbar {
            min-height: 70px;
            width: 100%;
            padding: 0;
            margin: 0;
            font-size: 1rem;
            
            i {
                margin: 0 5px 0 15px;
                color: map-get($color-map, links_color);
            }

            .icons, .social {
                width: 50%;
            }

            .icons {
                padding-left: 2.9rem;
            }

            .social {
                padding-right: 3.65rem;
            }
        }
 
        
        .my_jumbotron {
            font-family: 'Oswald', 'sans-serif';
            height: 350px;
            padding-bottom: 440px;

            .row {
                margin: 0;
                padding: 0;
            }
            
            .main_title {
                img {
                    height: 350px !important;
                    width: 100% !important;
                    overflow: hidden;
                }
                
                // Animation jumbotron //
                .fadeIn {
                    -webkit-animation-name: fadeIn;
                    animation-name: fadeIn;
                    -webkit-animation-duration: 5s;
                    animation-duration: 5s;
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    
                    @-webkit-keyframes fadeIn {
                        0% {opacity: 0;}
                        50% {opacity: 1;}
                        75% {opacity: 0.8;}
                        100% {opacity: 0.3;}
                    }
                    @keyframes fadeIn {
                        0% {opacity: 0;}
                        50% {opacity: 1;}
                        75% {opacity: 0.8;}
                        100% {opacity: 0.3;}
                    }
                }

                h1 {
                    font-size: 7rem;
                    text-align: center;
                    line-height: 1.2;
                    position: absolute;
                    top: 65%;
                    margin: 0;
                    padding: 0;
                }
            
            }

           .steel_bar {
                align-items: center;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                margin: 0;
                padding: 0;
                & p {
                    font-size: 1.5rem;
                    margin: 0;
                    padding: 0;
                    padding-top: 40px;

                }
            }
        }
    }

    main {      
        
        .core {
            @include sezioni;

            .book-title {
                @include shieldknot;
            }

            // Classi di animazione carosello 
            .fade-enter, .fade-leave-to {
                opacity: 0;
            }

            .fade-enter-active, .fade-leave-active {
                transition: opacity 1s ease-in-out;
            }

            .fade-move {
               transition: opacity 2.1s ease-in-out
            }
            // End classi di animazione carosello
            

            #book-main {
                @include descrizioni;
                margin: 0;
                width: 100%;
                // max-height: 660px;

                .book_description {

                    #book_details {
                        margin: 0px;
                    }

                    // Classe che si attiva se la dimensione schermo è < 1200px
                    .order-css {
                        padding-top: 115px !important;
                    }
                }
            
                 
            }

            .book-second_row {
                width: 100%;
                height: 100%;
                margin: 15px 0 0 0;

                #buy {
                    font-family: "Oswald", sans-serif;
                    color: map-get($color-map, text_color);
                    margin: 0;
                }
            }
        }
        
        .order {
            @include sezioni;
            font-family: 'Oswald', 'sans-serif';
            padding-top: 85px;

            .card-collector {      
                padding: 0;       
                margin-bottom: 150px;

                .card-container {
                    @include card;

                    .col-xl-4 {
                        padding-right: 45px;
                        padding-left: 45px;
                    }

                    .card {
                        max-height: 550px;
                    }
    
                    .card:hover {
                        -webkit-box-shadow: 10px 10px 5px 0px rgba(41, 41, 41, 0.25);
                        -moz-box-shadow: 10px 10px 5px 0px rgba(41, 41, 41, 0.25);
                        box-shadow: 10px 10px 5px 0px rgba(41, 41, 41, 0.25);
                        outline: 5px solid map-get($color-map, links_color);    
                    }
               
                }
            }
           
            .order-bar {
                margin: 0;
                padding: 0;
                @include barra;
            }

        }
        
        .personal {
            @include sezioni;
            background-color: map-get($color-map, primary_color);
            
            p {
                font-size: 1.04rem;
                font-family: "Open Sans", sans-serif;
                color: map-get($color-map, text_color);
                text-align: left;
                line-height: 1.5;
                margin: 0;
                padding: 0;
            }

            .publisher-title  {
                @include shieldknot;
            }

            #bio {
                padding: 0 50px 0 50px;

                img {
                    width: 18vw;
                    margin-right: 40px;
                    filter: grayscale(0%);
                }

                p {
                    align-self: center;
                }
            }

            #middle {
                padding: 50px 50px 0 50px;


            }

            #operas {
                padding: 50px 50px 0 50px;

                img {
                    width: 19vw;
                    margin-right: 40px;
                    filter: grayscale(80%) drop-shadow(25px 10px 8px rgba(0, 0, 0, 0.2));
                }

                p {
                    height: max-content;
                
                }
            }

            .sponsor-title {
                padding: 0;
                margin-top: 130px;
            }
    
            .supporters {      
                padding: 0;

                .loghi {
                    margin-top: 25px;
                   
                }

                .secloghi {
                    padding-top: 50px;
                    
                }
                        
                .terloghi {
                    padding-top: 50px;
                    padding-bottom: 130px;
                   
                }

                img {
                    width: 10%;
                    filter:grayscale(100%);
                    transform:scale(1);
                    transition: all 1s ease 0.2s;
                }

                img:hover {
                    filter:grayscale(0%);
                    -webkit-transform: scale(1.2);
                    -o-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    transform:scale(1.2);
                    transition: all 1s ease 0.2s;
                    cursor: pointer;
                }

                // Logo Italia Storica
                .terloghi > img:nth-child(4) {
                    position: relative;
                    bottom: 1rem;
                }
            }

            .news {

                p {
                    color: map-get($color-map, text_color);
                    background-color: map-get($color-map, bg_card_color);
                    padding: 30px;
                    border-radius: 10px;
                    font-family: "Open Sans", sans-serif;
                    font-size: 1.04rem;
                    text-align: left;
                    line-height: 1.5;
                    margin: 0 0 150px 0;
                    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
                    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
                    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
                    border: 1px solid map-get($color-map, background_color);
                   
                }
            }
            
            .order-bar {
                margin: 0;
                padding: 0;
                @include barra;
            }
            
        }  
    
        .form {
            @include sezioni;
            @include social_icons;
            background-color: map-get($color-map, secondary_color);
            padding-bottom: 150px;

            .form-title {
                @include shieldknot;
            }

            .help {
                padding-bottom: 150px;

                p {
                    width: 68%;
                    font-family: "Open Sans", sans-serif;
                    font-size: 1.04rem;
                    text-align: left;
                    line-height: 1.5;
                    color: map-get($color-map, text_color);
                } 

            }

            .contatti_container {
                padding: 0; 
                height: 100%;

                #form-container {
                    width: 100%;
                    padding: 0;

                    form {
                        width: 500px;
                        margin-left: -115px;
                        max-height: 450px !important;
                    }

                    // Busta
                    i {
                        font-size: 5rem;
                        padding-bottom: 40px; 
                        margin-left: -100px;
                    }

                    input, textarea {
                        font-family: "Open Sans", sans-serif;
                        font-size: 0.9rem;
                        padding: 8px;
                    }
            
                }

                #map-container {
                    height: max-content;
                    width: 100%;
                    padding: 0;
                    align-items: center !important;
                    font-size: 1.04rem;
                    margin-left: -170px;
                    max-height: 500px;
                
                    .map_responsive {
                        overflow: hidden;
                        justify-content: center;
                        position: relative;
                       
                        
                        iframe {
                            height: 100%;
                            width: 0%;
                            position: absolute;
                        }
                    }

                    .icons-container {
                        margin-top: 70px;
                       
                        p {
                            margin: 0;
                            width: 100%;
                        }
                        
                    }
                    
                }
               
            }

        }

    }

    footer { 
        .copyright {
            margin:0;
            padding: 0;
            height: 30px;
            background-color: map-get($color-map, bar_color);

            p {
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
                font-family: "Open Sans", sans-serif;         
                font-size: 0.9rem;
                font-weight: 400;
            }
        }
    }

}

