/* Codice CSS Italia Storica */

// Basic Stykesheet
@import "./Partials/_variables.scss";
@import "./Partials/_common.scss";
@import "./Partials/_elements.scss";

// Glide Js Required Stylesheet
@import "./Partials/Glide-css/_variables.scss";
@import "./Partials/Glide-css/glide.core.scss";
@import "./Partials/Glide-css/glide.theme.scss";
@import "./Partials/_glide.scss";

// Special GoogleFont
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap');



body {
    background: map-get($color-map, background_color);
    color: floralwhite;
    font-family: 'Oswald', 'Open Sans', 'sans-serif';
    overflow-x: hidden;
    
    header {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        
        .navbar {
            min-height: 70px;
            width: 100%;
            padding: 0;
            margin: 0;
            
            i {
                margin: 0 5px 0 15px;
                color: map-get($color-map, links_color);
            }

            .icons, .social {
                width: 50%;
            }

            .icons {
                padding-left: 2.9rem;
            }

            .social {
                padding-right: 3.65rem;
            }
        }

        
        .my_jumbotron {
           height: 350px;
           padding-bottom: 440px;

           .row {
               margin: 0;
               padding: 0;
           }
          
           .main_title {
                
                img {
                    max-height: 350px !important;
                    width: 100% !important;
                    overflow: hidden;
                }
                
                // Animation jumbotron //
                .fadeIn {
                    -webkit-animation-name: fadeIn;
                    animation-name: fadeIn;
                    -webkit-animation-duration: 5s;
                    animation-duration: 5s;
                    -webkit-animation-timing-function: ease-in;
                    animation-timing-function: ease-in;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    
                    @-webkit-keyframes fadeIn {
                        0% {opacity: 0;}
                        50% {opacity: 1;}
                        75% {opacity: 0.8;}
                        100% {opacity: 0.3;}
                    }
                    @keyframes fadeIn {
                        0% {opacity: 0;}
                        50% {opacity: 1;}
                        75% {opacity: 0.8;}
                        100% {opacity: 0.3;}
                    }
                }

                h1 {
                    font-size: 7rem;
                    text-align: center;
                    line-height: 1.2;
                    position: absolute;
                    top: 65%;
                    margin: 0;
                    padding: 0;
                }
                
            }

           .steel_bar {
                align-items: center;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                margin: 0;
                padding: 0;
                & p {
                    font-size: 1.5rem;
                    margin: 0;
                    padding: 0;
                    padding-top: 40px;

                }
            }
        }
    }
    

    main {      
        
        .core {
            @include sezioni;

            .book-title {
                @include shieldknot;
            }
            
            .book-main {
                @include descrizioni;
                margin: 0;
                width: 100%;

            }
            
            .book-secondary {
                width: 100%;
                margin-top: 30px;
                padding: 0 0 120px 0;
            }

            .book-bar {
                margin: 0;
                padding: 0;
                @include barra;
            }

        }
        
        
        .order {
            @include sezioni;
            background-color: map-get($color-map, secondary_color);
            padding-bottom: 115px;

            .order-title {
                @include shieldknot;
            }
            
            .card-collector {
                background-color: map-get($color-map, secondary_color);             
                color: black;
                    
                .how-to {
                    color: floralwhite;
                }
                
                .card {
                    border: 1px inset map-get($color-map, primary_color);
                    background-color: floralwhite;
                    color: map-get($color-map, links_color);
                    // box-shadow: 0 20px 50px rgba(64, 85, 108, 0.9);
                    //  transform: translateY(-100px);
                    // -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                    // -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                    // box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
                    
                    .card-header, .card-title {
                        color: rgb(250, 153, 28);
                        font-size: 1.4em;
                    }

                    p.card-text {
                        background-color: map-get($color-map, background_color);
                        color: floralwhite;
                        // margin-top: 50px;

                    }
                    
                    .card-body {
                        img {
                            width: 50%;
                            border-radius: 20%;
                            padding-bottom: 30px;
                        }
                        
                        p {
                            margin-top: 10px;
                        }

                        .button {
                            margin-top: 30px;
                        }
                    }
                    
                    .btn-primary {
                        text-align: center;
                    }

                    
                }
                
                .card:hover {
                    border: 10px solid map-get($color-map, title_color);
                }
            }

            .order-bar {
                margin: 0;
                padding: 0;
                @include barra;
            }
            
            
           
            
        }
        
        
        .personal {
            @include sezioni;
            background-color: map-get($color-map, primary_color);

            .publisher-title  {
                @include shieldknot;
            }
            
            .about {
                padding: 0 50px 50px 50px;
                
                img {
                    width: 20%;
                    height: 20%;
                    margin-right: 40px;
                    border-radius: 50%;
                }
                
                p {
                    font-family: "Open Sans", sans-serif;
                    font-size: 0.9rem;
                    text-align: left;
                    line-height: 1.5;
                }

            }

            .video {     
                margin: 0;
                width: 100%;

                .carousel-wrapper {
                    width: 80%;
                    margin: 30px auto;
                }

                .book_description {
                    @include descrizioni;
                    margin-left: auto;
                    margin-right: auto;
                }
                
                   
            }

            
        }
        
        
        .form {
            @include sezioni;
            background-color: map-get($color-map, secondary_color);

            i {
                font-size: 5rem;
                padding-bottom: 30px;
            }

            .form-container {
                width: 100%;
            }

            input, textarea {
                font-family: "Open Sans", sans-serif;
                font-size: 0.9rem;
                padding: 8px;
            }
                
        }

    }

}

